* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font1;
}
@font-face {
  font-family: font1;
  src: url(Font/Comfortaa-VariableFont_wght.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

body {
  font-family: font1;
  overflow-x: hidden;
  user-select: none;
  background-image: url(PMSunny.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
main {
  width: 100%;
  height: 100%;
  position: relative;
}

.error-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  cursor: default;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99999;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0px 0px 20px#fff;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 33px;
  padding: 0 10px;
}

.error-close {
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid white;
}

.error-close:hover {
  background-color: white;
  color: black;
}

.weather-container {
  width: 100%;
  height: 100%;
}

.weather-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.weather-column:nth-child(1) {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  color: #fff9e3;
  padding: 10px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.temp {
  font-size: 80px;
  color: #fff;
  mix-blend-mode: difference;
}

.name {
  font-size: 60px;
  mix-blend-mode: difference;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.date {
  font-size: 20px;
  font-weight: 100;
  line-height: 33px;
  mix-blend-mode: difference;
}

.weather-condition-icon {
  mix-blend-mode: lighten;
}

.weather-condition-short-info {
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 100;
}

.weather-column:nth-child(2) {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #fbf5df;
  padding: 10px 10px;
}

.form {
  position: relative;
  width: 100%;
}
.search {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  color: #fff9e3;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: font1;
}
.search::-webkit-search-cancel-button {
  display: none;
}
.search::placeholder {
  color: #fff;
  font-size: 14px;
  font-family: font1;
}

.search:focus {
  outline: none;
}

.search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.weather-more-information {
  width: 100%;
  list-style: none;
  padding: 10px 10px;
  gap: 10px;
}
.weather-condition-long-info {
  width: fit-content;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}

.more-weather-info-span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.more-weather-info-span:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.more-weather-info-span > h5,
.temp-max-value {
  font-size: 18px;
  font-weight: 400;
}
.more-weather-info-span > div > i {
  font-size: 25px;
  font-weight: 300;
}

.temp-min-icon {
  color: royalblue;
}
.feel-like-icon,
.temp-max-icon {
  color: red;
}

@media (max-width: 1000px) {
  .weather-column:nth-child(1) {
    width: 50%;
  }
  .weather-column:nth-child(2) {
    width: 50%;
  }
  .temp {
    font-size: 50px;
  }

  .name {
    font-size: 40px;
  }
  .date {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .weather-column:nth-child(1) {
    width: 100%;
    height: 50%;
  }
  .weather-column:nth-child(2) {
    width: 100%;
    padding: 10px 15px;
  }

  .temp {
    font-size: 40px;
  }

  .name {
    font-size: 30px;
  }
  .date {
    font-size: 15px;
  }

  .search {
    font-size: 16px;
  }

  .search::placeholder {
    font-size: 14px;
  }

  .search-btn {
    font-size: 18px;
  }
  .weather-condition-short-info,
  .weather-condition-long-info {
    font-size: 15px;
  }

  .more-weather-info-span > h5,
  .temp-max-value {
    font-size: 15px;
  }
  .more-weather-info-span > div > i {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .error-container {
    padding: 0 10px;
  }

  .error {
    width: 100%;
    font-size: 16px;
  }

  .error-close {
    padding: 8px 18px;
    font-size: 18px;
  }

  .temp {
    font-size: 30px;
  }

  .name {
    font-size: 20px;
  }
  .date {
    font-size: 12px;
  }

  .search::placeholder {
    font-size: 13px;
  }

  .search-btn {
    font-size: 15px;
  }
  .weather-condition-short-info,
  .weather-condition-long-info {
    font-size: 15px;
  }

  .more-weather-info-span > h5,
  .temp-max-value {
    font-size: 15px;
  }
  .more-weather-info-span > div > i {
    font-size: 17px;
  }
}
